.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  width: 431.5px;
}

.wrapper > h2 {
  width: 100%;
  text-align: center;
}

.notify {
  margin-top: -0.5rem;
  color: red;
  font-size: 8px;
}

.wrapper-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  height: min-content;
}

.wrapper-selector > p {
  margin: 0;
}

.wrapper-selector > select {
  width: 100%;
  border: 0.06rem solid rgba(102, 102, 102, 0.35);
  border-radius: 0.675rem;
  padding: 0.5rem 1rem;
}

.wrapper-time {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper-time > input {
  width: 110px;
  border: 0.06rem solid rgba(102, 102, 102, 0.35);
  border-radius: 0.675rem;
}

.wrapper-comment {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 5px;
}

.headerSidebar {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}

.wrapper-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-comment > textarea {
  /* width: 100%; */
  min-height: 50px;
  resize: vertical;
  border: 0.06rem solid rgba(102, 102, 102, 0.35);
  border-radius: 0.675rem;
  padding: 1.25rem 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.buttons > button {
  color: white;
}

.buttons-addList {
  background-color: rgb(44, 192, 255);
}

.buttons-delete {
  background-color: red;
}

.buttons-addCalendar {
  background-color: rgb(54, 228, 80);
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

input {
  height: 25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.left-handle,
.right-handle {
  position: absolute;
  height: 100%;
  width: 20px; /* Ширина площади для курсора */
  top: 0;
}

.left-handle {
  left: -3px;
  cursor: ew-resize; /* Курсор для левого края */
}

.right-handle {
  right: -3px;
  cursor: ew-resize; /* Курсор для правого края */
}
